@model IEnumerable<bank.Models.ViewModels.PrzelewColor>
@using bank.Helper

@{
    ViewBag.Title = "Zalogowany";
    Layout = "~/Views/Shared/_Layout-Logged.cshtml";
}

<h1>Twoje saldo: @AppHelper.CurrentUser.Saldo</h1>

<p>
    @Html.ActionLink("Wykonaj przelew", "CreatePrzelew")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.przelew.Nadawca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.przelew.Odbiorca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.przelew.Stawka)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
    <tr style="@item.kolor">
        <td>
            @item.przelew.Nadawca
        </td>
        <td>
            @item.przelew.Odbiorca
        </td>
        <td>
            @item.przelew.Stawka
        </td>
    </tr>
    }

</table>


